@mixin grids($column-num, $vert: top) {
    $col-width: 65px;
    $gutter-width: 20px;
    $columns: 12;
    // Set container width
	$width: ($col-width * $columns) + ($gutter-width * ($columns - 1));
	// First, calculate grid size in pixels
	$grid: ($col-width * $column-num) + ($gutter-width * ($column-num - 1));
	// Then, calculate the responsive grid 
	$grid: ($grid / $width) * 100%;
    
    vertical-align: $vert;
    width: $grid;
    
    & + & { margin-left: 2%; }
}
